bin

# gradle
build
.gradle
.jsweet

# eclipse
.settings
.project
.classpath

# intellij
.idea/
out/
*.iml
*.ipr
*.iws

# web project
node_modules/
dist/
coverage/
src/css
src/**/*.js
src/**/*.map
*.log
.awcache/
web/reports/
*.snap
frontend/src/**/*.js
frontend/src/**/*.map

.DS_Store